<form [formGroup]="budgetForm" class="py-4 px-6 rounded-3xl flex-grow h-full">
  <div class="w-64 flex flex-col gap-3" formGroupName="householdExpenses">
    <span class="text-xl">Household Expenses</span>
    <div class="flex flex-col gap-1">
      <label for="budget" class="text-lg poppins-extralight">Medical Aid</label>
      <label class="input input-bordered flex items-center gap-2">
        <span class="poppins-light-italic">R</span>
        <input
          type="number"
          class="grow"
          formControlName="medicalAid"
          placeholder="0.00"
        />
      </label>
    </div>
    <div class="flex flex-col gap-1">
      <label for="budget" class="text-lg poppins-extralight">Rent</label>
      <label class="input input-bordered flex items-center gap-2">
        <span class="poppins-light-italic">R</span>
        <input
          type="number"
          class="grow"
          formControlName="rent"
          placeholder="0.00"
        />
      </label>
    </div>
    <div class="flex flex-col gap-1">
      <label for="budget" class="text-lg poppins-extralight"
        >Electricity, Water, & Levies</label
      >
      <label class="input input-bordered flex items-center gap-2">
        <span class="poppins-light-italic">R</span>
        <input
          type="number"
          class="grow"
          formControlName="electricityAndAll"
          placeholder="0.00"
        />
      </label>
    </div>
  </div>
</form>
